[submodule "tpm"]
  path = tmux/plugins/tpm
  url = git@github.com:tmux-plugins/tpm.git
  branch = master
  ignore = dirty
[submodule "tmux-safekill"]
  path = tmux/plugins/tmux-safekill
  url = git@github.com:jlipps/tmux-safekill.git
  branch = master
  ignore = dirty
[submodule "witchcraft"]
  path = witchcraft
  url = git@github.com:JRasmusBm/witchcraft.git
  branch = main
  ignore = dirty
[submodule "autosrc"]
  path = shell/autosrc
  url = git@github.com:seanyeh/autosrc.git
  branch = master
  ignore = dirty
[submodule "tmux-open"]
  path = tmux/plugins/tmux-open
  url = git@github.com:tmux-plugins/tmux-open
  ignore = dirty
[submodule "shell/yarn-run"]
  path = shell/yarn-run
  url = git@github.com:Flydiverny/yarn-run.git
  branch = master
  ignore = dirty
