# Ignore everything
*
# Decend into following subdirectories/files
!.vim
!.dircolors
!.alacritty.yml
!.vim/colors
!.vim/spell
!.vim/snippets
!.vim/snippets/*
!.vim/spell/*.add
!.vim/colors/*
!.bashrc
!.xbindkeysrc
!.gitconfig
!.zshrc
!.zshenv
!.tmux.conf
!.bash_profile
!.install_dependencies
!.vimrc
!.gitignore
!.config
!.config/nvim/
!.config/nvim/colors/
!.config/nvim/colors/*
!.config/nvim/spell/
!.config/nvim/spell/*
!.config/nvim/init.vim
