[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yapf = "*"
pyautogui = "*"
"python3-xlib" = "*"
pyperclip = "*"

[dev-packages]

[requires]
python_version = "3.7"
